<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} %c.%M() %L - %m%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="file" value="../logs/openceres.log" />
		<param name="MaxFileSize" value="1000KB" />
		<param name="append" value="true" />
		<param name="encoding" value="UTF-8" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="./log/openceres.log.%d.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %d{ISO8601} %c.%M() %L - %m%n" />
		</layout>
	</appender>
	
	<logger name="org.apache" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
	</logger>
			
	<root>
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</root>

</log4j:configuration>
